
.container_view_list {
  background-color: #e2f8f0;
  width: 100%;
  height: 192px;
}

.container_view_list {
  width: 100%;
  height:192px;
}

.container_view_list_button {
  height:192px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container_view_button{
  width: 64px;
  height: 64px;
  margin: 24px;
}
