<div class="container">
  <div class="container_edit_information_patient">
    <h3>Editar informações do paciente</h3>
  </div>
  <div class="container_button_img">
    <div class="container_img_button">
      <img src="../../../assets/Vector.png" alt="">
    </div>
    <div class="container_button_save">
      <button>Salvar</button>
    </div>
  </div>
</div>
<div class="container_apontamento">
  <div class="container_apontamento_text">
    <h3>
      Apontamento
    </h3>
  </div>
  <div class="container_apontamento_consulta">
    <div class="container_apontamneto_ultima">
      <div class="container_apontamneto_ultima_consulta">
        <h4>Última consulta</h4>
      </div>
      <div class="container_apontamneto_ultima_consulta_data">
        <input type="date" name="" id="">
      </div>
    </div>
    <div class="container_apontamneto_proxima">
      <div class="container_apontamento_consulta_text">
        <h4>Proxima consulta</h4>
      </div>
      <div class="container_apontamneto_proxima_consulta_data">
        <input type="date" name="" id="">
      </div>
    </div>
  </div>
</div>
<div class="container_tratamento">
  <div class="container_tratamento_text">
    <h3>
      Tratamento
    </h3>
  </div>
  <div class="container_tipo_tratamento">
    <div class="container_tipo_tratamento_tipo">
      <h3>
        Tipo de tratamento
      </h3>
    </div>
    <div class="container_tipo_tratamento_input">
      <label for="complete">complete</label>
      <input type="text" id="complete" >

    </div>

  </div>
  <div class="container_tipo_tratamento_data">
    <div class="container_data">
      <div class="container_tipo_tratamento_start_text">
        <h4>Iniciado em</h4>
      </div>
      <div class="container_tipo_tratamento_start_data">
        <input type="date" name="" id="">
      </div>
    </div>


    <div class="container_tipo_tratamento_start_finalizado">
      <div class="container_tipo_tratamento_start_finalizado_text">
        <h4>Finalizado em</h4>
      </div>
      <div class="container_tipo_tratamento_start_finalizado_data">
        <input type="date" name="" id="">
      </div>
    </div>
  </div>

</div>
<div class="container_info">
  <div class="container_info_text">
    <h3>
      Informações
    </h3>
  </div>
  <div class="container_info_data">
    <div class="container_info_nome">
      <h4>
        Nome
      </h4>
    </div>
    <div class="container_info_input">
      <input type="text" >
    </div>
  </div>
  <div class="container_info_data_doc">
    <div class="container_info_CPF">
      <div class="ccontainer_info_CPF_text">
        <h4>CPF</h4>
      </div>
      <div class="container_info_CPF_data_input">
        <input type="text" name="" id="">
      </div>
    </div>
    <div class="container_info_rg">
      <div class="container_info_rg_text">
        <h4>RG</h4>
      </div>
      <div class="container_info_rg_data_input">
        <input type="text" name="" id="">
      </div>
    </div>
    <div class="container_info_nascimento">
      <div class="container_info_nascimento_text">
        <h4>Nascimento</h4>
      </div>
      <div class="container_info_nascimento_data_input">
        <input type="date" name="" id="">
      </div>
    </div>

    <div class="container_info_idade">
      <div class="container_info_idade_text">
        <h4>Idade</h4>
      </div>
      <div class="container_info_idade_input">
        <input type="text" name="" id="">
      </div>
    </div>

    <div class="container_info_telefone">
      <div class="container_info_telefone_text">
        <h4>Telefone</h4>
      </div>
      <div class="container_info_telefone_data_input">
        <input type="text" name="" id="">
      </div>
    </div>


  </div>
  <div class="container_info_email">
    <div class="container_info_email_text">
      <h4>Email</h4>
    </div>
    <div class="container_info_email_input">
      <input type="email" name="" id="">
    </div>
  </div>

</div>

<div class="container_info_endereco">
  <div class="container_info_endereco_text">
    <h3>
     Endereço
    </h3>
  </div>
  <div class="container_endereco_data">
    <div class="container_endereco_lagradouro">
      <h4>
        Logradouro
      </h4>
    </div>

    <div class="container_endereco_lagradouro_data_input">
      <input type="text" >
    </div>
  </div>
  <div class="container_details_endereco">
    <div class="container_endereco_data_n">
      <div class="container_endereco_n">
        <div class="container_endereco_n_text">
          <h4>N°</h4>
        </div>
        <div class="container_endereco_n_data_input">
          <input type="text">
        </div>
      </div>
    </div>
    <div class="container_complemento">
      <div class="container_complemento_text">
        <h4>
          Complemento
        </h4>
      </div>
      <div class="container_complemento_data_input">
        <input type="text" >
      </div>

    </div>


      <div class="container_info_cidade">
        <div class="container_info_cidade_text">
          <h4>Cidade</h4>
        </div>
        <div class="container_info_cidade_data_input">
          <input type="text" name="" id="">
        </div>
      </div>
      <div class="container_info_estado">
        <div class="container_info_estado_text">
          <h4>Estado</h4>
        </div>
        <div class="container_info_estado_data_input">
          <select name="" id="">
            <option value="volvo">Voaaaaaalvo</option>
            <option value="saab">Saaaaaaaaaaaaaab</option>
            <option value="opel">Oaaaaaaaaapel</option>
            <option value="audi">Aaaaaaudi</option>
          </select>
        </div>
      </div>

      <div class="container_info_cep">
        <div class="container_info_cep_text">
          <h4>CEP</h4>
        </div>
        <div class="container_info_cep_input">
          <input type="text" name="" id="">
        </div>
      </div>
  </div>

  <div class="container_info_farmacos">
    <div class="container_info_farmacos_text">
      <h4>Fármacos</h4>
    </div>
    <div class="container_info_farmacos_data_input">
      <textarea type="text"></textarea>
    </div>
  </div>


  <div class="container_info_farmacos">
    <div class="container_info_farmacos_text">
      <h4>Observações</h4>
    </div>
    <div class="container_info_farmacos_data_input">
      <textarea type="text"></textarea>
    </div>
  </div>


</div>
